@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dangrek&family=Delius+Unicase:wght@700&family=Inter:wght@800&family=Roboto:wght@700&family=Single+Day&display=swap');

:root {
    --left-measure: 950px;
    --font-color: #7C7C7C;
    --neon-color: #72DB73;
    --DM-font-family: 'DM Sans', sans-serif;
}

body{
    background-color: black;
}

h1 {
    position: absolute;
    left: 1040px;
    color: var(--neon-color);
    height: 94px;
    width: 350px;
    top: 33px;
    font-family: 'Single Day', cursive;
    font-size: 47px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    position: absolute;
    left: 1022px;
    color: white;
    height: 94px;
    width: 350px;
    top: 135px;
    font-family: var(--DM-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}

.input_text {
    position: absolute;
    width: 350px;
    height: 40px;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    background-color: #292929;
    color: var(--font-color);
    left: var(--left-measure);
}

.checkbox {
    position: absolute;
    top: 493px;
    left: 953px;
}

#checktext {
    position: absolute;
    width: 433px;
    height: 19px;
    top: 472px;
    left: 980px;
    color: var(--font-color);
    font-family: var(--DM-font-family);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.signUpButton {
    position: absolute;
    left: var(--left-measure);
    width: 355px;
    height: 40px;
    top: 540px;
    border-radius: 28px;
    border-style: solid;
    background-color: var(--neon-color);
    color: white;
    font-family: var(--DM-font-family);
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
}

.terms {
    position: absolute;
    width: 360px;
    height: 53px;
    left: var(--left-measure);
    color: var(--font-color);
    font-family: var(--DM-font-family);
    font-weight: 400;
    font-size: 11.5px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}

.error {
    position: absolute;
    color: red;
    left: var(--left-measure);
    width: 120px;
    height: 15px;
    font-family: var(--DM-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    z-index: 99;
}